@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.booksList {
  @include grid(1, 1rem);

  place-items: center;
  background-color: #fbfafb;
  padding-bottom: 2.3rem;
}
